/* navbar background color */
.navbar {
    background-color: #624C83;
    color: white;
}
/* heading for navbar */
.navbar-custom {
    color: white;
}
.navbar-brand {
    color: white;
    font-weight: bold;
}
/* links in navbar */
.nav-link {
    color: white;
}
/* Toggler color */
.navbar-toggler {
    background-color: white;
}
/* hover over links color */
a:hover {
    color: #FFF145;
}



.title-color{
    font-family: Helvetica, sans-serif;
    letter-spacing: .7px;
    font-size: 18pt;
    font-weight: 600;
    color: rgb(176, 130, 207)
}

body {
    background-image: url('../assets/images/ignasi_pattern_s.png');
}


.container {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.image-paragraph-divider {
    border-top: .5px solid rgb(180, 180, 180);
    padding-top: 20px;
    margin-right: 20px;
}

.card-body{
    padding-bottom: 50px;
    margin-left: 15px;

}

h1 {
    color:#6c4086;
    font-family: Helvetica, sans-serif;
    letter-spacing: .7px;
    font-weight: 700;
}

p{
    font-size: 12pt;
}

img {
    min-width: auto;
    max-width: 700px;
    border: solid 1px #616161;
    margin-top: 10px;
    
}
figcaption {
    font-size: 20pt;
}
.page-footer {
    border-top: 5px solid #6c4086;
    background-color: #616161;
    position:fixed;bottom:0;left:0;right:0;


}
.card-body-style {
    outline: solid 20px #6c4086;
    
}

.form-group{
    margin-right: 100px;
    margin-left: 20px;
}

.button{
    background-color:#6c4086;
    border: 7px solid #6c4086;
    margin-bottom: -30px;
}

.navbar-color{
    background-color: #6c4086;
}